ion-content{
  border-radius: 100px;
}

.content-inner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close-btn{
  background-color: white;

}


#close{
  background-color: rgb(255, 255, 255);
}

.modal-content{
  padding:10px;

}
