
:host {
  display: block; /* 블록 요소로 설정 */
  width: 250px; /* 너비 설정 */
  height: 100%; /* 전체 높이 설정 */
  background-color: #f8f9fa; /* 배경색 설정 */
  position: fixed; /* 고정 위치 */
  left: 0; /* 왼쪽 정렬 */
  top: 0; /* 상단 정렬 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.item-native .item-inner {
  border: none; /* 테두리 없애기 */
}

// 토글 버튼 누를때 슬라이드 추가
.slide-down {
  animation: slideDown 0.3s ease forwards;
}

.slide-up {
  animation: slideUp 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 200px; /* 원하는 최대 높이 설정 */
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 200px; /* 원하는 최대 높이 설정 */
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}


// 기본값 테두리 지우기
ion-item {
  --border-style: none; /* border 스타일 제거 */
}
