<ion-toolbar>
    <div id="inner">
      <div class="menu-left">
        <ion-button routerLink="/firstpage" id="button-logo" fill="clear">
          <img src="../../assets/svg/HIP-Logo.svg" id="logo" alt="Logo">
          <ion-text id="logo-text">
            <h6>Hongik University Intelligent Platform</h6>
          </ion-text>
        </ion-button>
        <ion-item *ngFor="let p of TopPages"
                  [routerLink]="[p.url]"
                  routerDirection="root"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected">
          <ion-label class="title-text">{{ p.title }}</ion-label>
        </ion-item>
      </div>
        <ion-searchbar class="title-searchbar" placeholder=""></ion-searchbar>
      <div class="menu-right">
        <button class="user">
          <div class="avator-container">
            <div class="user-avatar">
              <img src="../../assets/svg/avator.png"  alt="avator"/>
            </div>
          </div>
        </button>
      </div>
    </div>
  </ion-toolbar>

