<ion-toolbar>
  <div id="inner">
    <div class="menu-left">
      <ion-button routerLink="/main" id="button-logo" fill="clear">
        <img src="../../assets/svg/HIP-Logo.svg" id="logo" alt="Logo">
        <ion-text id="logo-text">
          <h6>Hongik University Intelligent Platform</h6>
        </ion-text>
      </ion-button>
      <ng-container *ngIf="!isLoggedIn">
        <ion-button routerLink="/secondpage" routerDirection="root" fill="clear">
          <ion-label>전시관</ion-label>
        </ion-button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <ion-button routerLink="/secondpage" routerDirection="root" fill="clear">
          <ion-label>전시관</ion-label>
        </ion-button>
        <ion-button routerLink="/thirdpage" routerDirection="root" fill="clear">
          <ion-label>학습룸</ion-label>
        </ion-button>
      </ng-container>
    </div>
    <ion-searchbar class="title-searchbar" placeholder=""></ion-searchbar>
    <div class="menu-right">
      <ng-container *ngIf="!isLoggedIn">
        <ion-button size="small" routerLink="/loginpage" class="login" fill="clear">
          <ion-label class="login-text">로그인</ion-label>
        </ion-button>
        <ion-button size="small" id="open-modal" class="login" fill="clear">
          <ion-label class="login-text">회원가입</ion-label>
        </ion-button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <ion-button class="login" fill="clear">
          <ion-icon name="person"></ion-icon>
          <ion-label class="login-text">회원 아이콘</ion-label>
        </ion-button>
        <ion-button (click)="logout()" class="login" fill="clear">
          <ion-label class="login-text">로그아웃하기</ion-label>
        </ion-button>
      </ng-container>
    </div>
  </div>
</ion-toolbar>


<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content class="modal-content">
      <ion-toolbar class="modal-toolbar">
        <div>
          <button class="close-btn" (click)="modal.dismiss()">
            <img id="close" src="../../assets/svg/close.svg" alt="close">
          </button>
        </div>
        <div class="toolbar-content">
          <ion-title class="join-title">회원가입</ion-title>
          <div class="join-Big-title">메타의 품격</div>
          <img style="margin: 15px;" src="../../assets/svg/HIP-Logo.svg">
          <div style="font-size: 14px">당신은 어떤 사람인가요?</div>
          <div formControlName="user_role" class="user-rule">
            <button value="student" class="user-rule-btn">
              <img src="../../assets/svg/Instruc-icon.svg">
              <div class="user-rule-title">학생</div>
              <div>학생으로 가입하기</div>
            </button>
            <button routerLink="/joinpage" routerDirection="root" value="instructor" class="user-rule-btn" (click)="modal.dismiss()">
              <img src="../../assets/svg/student-icon.svg">
              <div class="user-rule-title">강사</div>
              <div>강사로 가입하기</div>
            </button>
          </div>
        </div>
      </ion-toolbar>
    </ion-content>
  </ng-template>
</ion-modal>
