<ion-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="content-inner">
        <img src="../../assets/svg/HIP-Logo.svg" alt="logo">
        <div style="margin-bottom:20px; color: #6d62fd; font-size:13px; font-weight: bold">
          당신의 미래를 응원합니다.
        </div>

        <div>
          <div class="input-login">
            <ion-icon style="color:#9B9B9B; width: 20px; margin-right: 10px;" name="person"></ion-icon>
            <ion-input formControlName="username" color="none" placeholder="아이디"></ion-input>
          </div>

          <div class="input-login">
            <ion-icon style="color:#9B9B9B; width: 20px; margin-right: 10px;" name="lock-closed"></ion-icon>
            <ion-input type="password" formControlName="password" color="none" placeholder="비밀번호"></ion-input>
          </div>

          <div style="height: 15px;"></div>
        </div>

        <ion-button class="btn-login" type="submit" [disabled]="loginForm.invalid">로그인하기</ion-button>
        <ion-button id="open-modal" class="btn-join" fill="outline">회원가입</ion-button>
        <button routerLink="/main" style="color: #373737; background-color: white; margin: 10px; font-size:12px">홈으로 가기</button>
      </form>
</ion-content>


<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content class="modal-content">
      <ion-toolbar class="modal-toolbar">
        <div>
          <button class="close-btn" (click)="modal.dismiss()">
            <img id="close" src="../../assets/svg/close.svg" alt="close">
          </button>
        </div>
        <div class="toolbar-content">
          <ion-title class="join-title">회원가입</ion-title>
          <div class="join-Big-title">메타의 품격</div>
          <img style="margin: 15px;" src="../../assets/svg/HIP-Logo.svg">
          <div style="font-size: 14px">당신은 어떤 사람인가요?</div>
          <div class="user-rule">
            <button (click)="setUserRole('student')" class="user-rule-btn">
              <img src="../../assets/svg/Instruc-icon.svg">
              <div class="user-rule-title">학생</div>
              <div>학생으로 가입하기</div>
            </button>
            <button (click)="setUserRole('instructor')" class="user-rule-btn">
              <img src="../../assets/svg/student-icon.svg">
              <div class="user-rule-title">강사</div>
              <div>강사로 가입하기</div>
            </button>
          </div>
        </div>
      </ion-toolbar>
    </ion-content>
  </ng-template>
</ion-modal>
