ion-card-title{
  font-family: "pretendard-B", serif;
}



.topbar {
  margin-left: max(15vw, 200px); /* 15vw와 200px 중 큰 값을 사용 */
  margin-right: 0; /* 오른쪽 마진 */
  border: #9e65ff solid 2px;
}

.main-container {
  margin-left: max(15vw, 200px); /* 15vw와 200px 중 큰 값을 사용 */
  border: #6591ff solid 2px;
  height: 100%;
  background-color: #EDF1F7;
  display: flex; /* Flexbox를 사용 */
  flex-direction: column; /* 세로 방향으로 설정 */
  max-width: 2000px;
}

/* 새로운 클래스 추가 */
.attendance-container {
  display: flex; /* 가로로 배치할 컨테이너 */
  flex: 1; /* 동일한 비율로 크기 조정 */
}

.attendance, .blank {
  display: flex; /* Flexbox로 가로 배치 */
  flex: 1; /* 두 div가 동일한 비율로 크기를 가질 수 있도록 설정 */
  border: #9e65ff solid 2px;
}

.content-box{
  width: 35vw;
  height: 30vh;
  margin: auto;
  max-width: 900px;
  min-width: 500px;
}

.blank {
  border: #ff65bc solid 2px;
}

.class-project {
  border: #65faff solid 2px;
  height: 50vh;
  display: flex;
}

.class-project2{
  background-color: #3b6bb1;
  width: 76vw;
  height: 20vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.bottom-box{
  width: 70vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  max-width: 1900px;
  min-width: 500px;

}


.circle {
  width: 100px; /* 원의 너비 */
  height: 100px; /* 원의 높이 */
  background-color: black; /* 배경색 */
  border-radius: 50%; /* 원을 만들기 위해 */
  display: flex; /* 중앙 정렬을 위해 Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  color: white; /* 글자 색상 */
  font-size: 18px; /* 글자 크기 */
}
