ion-card-title{
  font-family: "pretendard-B", serif;
  color: #464646;
}





ion-content {
  height: 100vh; /* 전체 높이를 100%로 설정 */
}

.layout {
  display: flex; /* Flexbox 사용 */
  height: 100%; /* 전체 높이를 100%로 설정 */
}

.sidemenu {
  display: block; /* 또는 inline-block */
  min-width: 250px; /* 사이드 메뉴의 너비 설정 */
  max-width: 400px;
  width: 20vw;
  border-right: #9e65ff solid 2px; /* 경계선 */
}

.content-wrapper {
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
  overflow: auto; /* 콘텐츠가 넘칠 경우 스크롤 가능하도록 설정 */
}


.main-container {
  border: #6591ff solid 2px;
  height: 100%;
  background-color: #EDF1F7;
  flex-direction: column; /* 세로 방향으로 설정 */
  max-width: 2000px;
  display: flex; /* Flexbox를 사용 */
}


/* 새로운 클래스 추가 */
.attendance-container {
  display: flex; /* 가로로 배치할 컨테이너 */
  flex: 1; /* 동일한 비율로 크기 조정 */
}

.attendance, .blank {
  display: flex; /* Flexbox로 가로 배치 */
  flex: 1; /* 두 div가 동일한 비율로 크기를 가질 수 있도록 설정 */
  border: #9e65ff solid 2px;
}
.attendance ion-card-header{
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 30px;
}

hr {
  width : 90%;
  border-bottom: 3px solid;
  color: #E2E2E2;
  margin: auto;
}

.attendance ion-card-content {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 가운데 정렬 */
  justify-content: center; /* 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  height: 80%; /* 전체 높이를 사용하도록 설정 */

}

.attendance ion-card-content .attendance-button{
  --background-color: #976BEE;
}

.attendance .qrcode{
  font-size: min(max(50px, 10vw), 150px);
  color: #333333;
}

.attendance .current-time{
  font-size: 16px;
  font-family: "pretendard-B", serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.attendance .attendance-button{
  width: 60%;
  height: 15%;
  font-size: 20px;
}


.content-box{
  width: 35vw;
  height: 35vh;
  margin: auto;
  max-width: 700px;
  min-width: 500px;
  min-height: 300px;
  max-height: 500px;
}

.blank {
  border: #ff65bc solid 2px;
}

.class-project {
  border: #65faff solid 2px;
  height: 50vh;
  display: flex;
}

.class-project2{
  background-color: #3b6bb1;
  width: 76vw;
  height: 20vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 300px;
}

.bottom-box{
  width: 70vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  max-width: 1900px;
  min-width: 500px;
  min-height: 100px;


}


