
  <ion-split-pane contentId="main-content"> <!-- 여기에서 split-pane을 항상 유지 -->
    <ion-menu contentId="main-content" type="overlay" class="split-main">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- 이 부분에 다른 페이지의 콘텐츠가 로드됩니다. -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
