
//파일 전역 디자인
ion-item{
  margin: 12px;
  color: #555555;

}

ion-icon{
  margin: 10px;
}

ion-label.title{
  font-family: "pretendard-B", serif;
}


/* 선택된 메뉴 항목의 스타일 */
ion-item.selected {
  --background: #DEE5FF; /* 선택된 항목의 배경색을 회색으로 설정 */
  color: #5572E2; /* 텍스트 색상 설정 */
  border-radius: 10px;
}

ion-item.selected:hover{
  color: #ff4141;
}

ion-item:hover{
  color: #ff4141;
}

.selected ion-icon {
  color: #5572E2;
}


.split-main{
  min-width: 180px;
  width: 250px;
}

#inbox-list{
  //text-align: center;

}

#logo{
  width: 80px;
  margin-left: 30px;
  margin-bottom: 40px;
}
#main-content{
  background-color: #6d62fd;
}
