<ion-content class="lecture-content">
  <div class="layout">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <div class="content-wrapper">

      <section class="BG-color">
        <div class="box-title">
          <div style="flex-direction: row; margin: 10px">
            <span class="lecture-rule">3기</span>
            <span class="lecture-spot">강의실 | 117-1</span>
          </div>
          <span class="lecture-title">프론트엔드/백엔드 프로그래밍</span>
          <span class="lecture-spot">강사</span>

          <h6>본 강좌는 JavaScript와 TypeScript를 중심으로 프론트엔드에서 필요한 개발 언어를 학습하며, next.js와 Angular를 이용한 백엔드 개발을 배웁니다.</h6>
        </div>
      </section>

      <section class="">
        <h3>상세메뉴</h3>
        <div>
          <div>강의메뉴</div>
          <div>학습자료</div>
        </div>
        <hr/>
        <span>지난 날의 강의를 다시 복습할 수 있어요</span>

        <div>총 1강의</div>

        <div>
          <div>1</div>
          <div>Spring</div>
        </div>

        <div>memo</div>
      </section>
    </div>
  </div>
</ion-content>
