ion-refresher .refresher-pulling,
ion-refresher .refresher-refreshing {
  display: none;
}

.box{
  bottom: 0;
  background-color: #ffffff;
  width: 200px;
  height: 100px;
  position: absolute;
  right:0;


}

.BG-t{
  width:100%;
  height:100%;
  background-color: #ffffff;
  opacity: 0.1;
  position: absolute;
  top:10px;
}

